---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?inFormat=kvp&key=DONT_SHARE_MY_SECRET_KEY&location=denver,co&outFormat=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 28 Sep 2021 06:26:04 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT_SHARE_MY_SECRET_KEY&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=232675100"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT_SHARE_MY_SECRET_KEY&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=1412982675"}]}]}'
  recorded_at: Tue, 28 Sep 2021 06:26:04 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_SHARE_MY_SECRET_KEY&exclude=minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1632810365,"sunrise":1632833607,"sunset":1632876443,"temp":291.84,"feels_like":290.73,"pressure":1014,"humidity":37,"dew_point":276.87,"uvi":0,"clouds":98,"visibility":10000,"wind_speed":1.94,"wind_deg":210,"wind_gust":4.6,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1632808800,"temp":291.84,"feels_like":290.73,"pressure":1014,"humidity":37,"dew_point":276.87,"uvi":0,"clouds":98,"visibility":10000,"wind_speed":1.94,"wind_deg":210,"wind_gust":4.6,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1632812400,"temp":292.55,"feels_like":291.43,"pressure":1013,"humidity":34,"dew_point":276.3,"uvi":0,"clouds":98,"visibility":10000,"wind_speed":0.55,"wind_deg":200,"wind_gust":0.93,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.08},{"dt":1632816000,"temp":293.06,"feels_like":291.94,"pressure":1011,"humidity":32,"dew_point":275.89,"uvi":0,"clouds":94,"visibility":10000,"wind_speed":0.59,"wind_deg":112,"wind_gust":1.65,"weather":[{"id"[...]
