---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?inFormat=kvp&key=DONT_SHARE_MY_SECRET_KEY&location=denver,co&outFormat=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 26 Sep 2021 20:30:21 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT_SHARE_MY_SECRET_KEY&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-117393439"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT_SHARE_MY_SECRET_KEY&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-1846441908"}]}]}'
  recorded_at: Sun, 26 Sep 2021 20:30:21 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_SHARE_MY_SECRET_KEY&exclude=minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1632688221,"sunrise":1632660694,"sunset":1632703840,"temp":303.91,"feels_like":301.89,"pressure":1008,"humidity":12,"dew_point":271.48,"uvi":4.31,"clouds":18,"visibility":10000,"wind_speed":0.89,"wind_deg":46,"wind_gust":1.34,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1632686400,"temp":303.93,"feels_like":301.91,"pressure":1008,"humidity":11,"dew_point":270.46,"uvi":5.71,"clouds":19,"visibility":10000,"wind_speed":2.69,"wind_deg":83,"wind_gust":3.58,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1632690000,"temp":303.91,"feels_like":301.89,"pressure":1008,"humidity":12,"dew_point":271.48,"uvi":4.31,"clouds":18,"visibility":10000,"wind_speed":2.68,"wind_deg":87,"wind_gust":3.4,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1632693600,"temp":303.99,"feels_like":301.96,"pressure":1007,"humidity":11,"dew_point":270.5,"uvi":2.54,"clouds":17,"visibility":10000,"wind_speed":2.51,"wind_deg":86,"wind_gust":2.34,"weather":[{"id":801,[...]
